*.orig

sim/*
!sim/openFAST_config_no_inflow.xlsx
!sim/OutListParameters.xlsx

param.mat
octave-workspace
*~
*.mex*
*.asv
turbine_coll_flap_edge_pitch_aero/

.directory
.cproject
.project
.settings/

*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
